/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

/*Global*/
html {
    background: #6A6A6A;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Source Sans Pro', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

body {
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
}

address {
    font-style: normal;
}

img {
    vertical-align: middle;
}

/*Index*/
h1 {
    text-indent: -9999999px;
    background: url(../images/thorbengrodon.jpg) no-repeat center center;
    background-size: cover;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid #A69257;
    margin: 0 auto 30px;
}

h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}

p {
    text-align: center;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #A69257;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
    margin-top: 30px;
}

nav ul {
    display: inline-block;
}

nav ul:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li {
    float: left;
    margin-right: 10px;
}

nav ul li a,
nav ul li label {
    padding: 10px;
    display: inline-block;
    border: 1px solid #A69257;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
    cursor: pointer;
}

nav ul li:hover {
    background: #333;
}

/*Imprint*/
body.imprint-active .imprint {
    display: block;
}

body.imprint-active label:after {
    content: '\2715';
    color: #A69257;
    width: 32px;
    height: 32px;
    display: block;
    line-height: 32px;
    font-size: 24px;
    font-weight: bold;
}

body.imprint-active label img {
    display: none;
}

.imprint {
    display: none;
    max-width: 500px;
    margin: 0 auto;
}

.imprint article {
    margin-top: 30px;
    line-height: 1.4;
}

.imprint h3 {
    font-weight: 700;
}

.imprint p {
    text-align: left;
}

@media all and (min-width: 500px) and (min-height: 450px) {

    body:not(.imprint-active) {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}
